.chat-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: max-content;
    max-width: 90%;
    background-color: #FDFCE6;
    border: 1px solid #000000;
    border-radius: 15px;
}

.inner__header {
    margin: 0;
    padding: 10px 30px;
    border-bottom: 1px solid #000000;
}

.inner__header-text {
    margin: 0;
    color: #000000;
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
}

.form__evaluation {
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #000000;
}

.form__evaluation-text {
    margin: 0;
    color: #868686;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}

.form__button {
    display: block;
    margin: 15px 30px 15px auto;
    padding: 5px 10px;
    background-color: #FF8282;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

/*評価送信用スターの描画に関するデザイン*/
.form__evaluation-star {
    display: flex;
    flex-direction: row-reverse; /*逆順(左から右へ)で表示*/
    justify-content: center;
    gap: 8px;
    margin: 0;
}

/* ラジオボタン本体は非表示にする */
.form__evaluation-star input[type="radio"] {
    display: none;
}

.form__evaluation-star label {
    font-size: 10rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

/* 選択された星（ラジオボタン）と、それより前の星（HTML上で後にある兄弟要素）の色を変える */
.form__evaluation-star input[type="radio"]:checked~label {
    color: #FFF048;
}

/* マウスが乗っている星と、それより前の星の色を変える */
.form__evaluation-star label:hover,
.form__evaluation-star label:hover~label {
    color: #FFF04880;
}