/* 選択タブ */
.tab {
    margin: 40px 0 60px;
    display: flex;
    border-bottom: solid 2px #5F5F5F;
}

.tab__link{
    display: block;
    margin: 0 50px;
    padding: 5px 20px;
    border: none;
    background-color: inherit;
    color: #000000;
    font-size: 2.4rem;
    text-decoration: none;
    cursor: pointer;
}
.tab__link:first-of-type {
    margin-left: 200px;
}
.tab__link--active {
    color: #FF0000;
}

/* 商品一覧 */
.item-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.item-list__item {
    width: 290px;
    position: relative;
}

.item-list__img {
    width: 100%;
    height: 290px;
    border-radius: 4px;
    object-fit: cover;
}

.item-list__name {
    font-size: 2.5rem;
    margin-top: 5px;
}

.item-list__sold-mask {
    top: 0; 
    left: 0;
    width: 100%;
    height: 290px;
    position: absolute;
    z-index:100;
}

.item-list__sold-text {
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    border-radius:4px;
}

.item-list__sold-text span {
    color: #FFFFFF;
    font-size: 3.4rem;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .tab  {
        justify-content: space-around;
    }
    .tab__link {
        margin: 0;
    }
    .tab__link:first-of-type {
        margin-left: 0;
    }
    .item-list  {
        gap: 30px
    }
    .item-list__img  {
        height: 150px;
    }
    .item-list__item {
        width: 150px;
    }
    .item-list__sold-mask {
        height: 150px;
    }
}