/* 選択タブ */
.tab {
    margin: 40px 0 60px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #5F5F5F;
}

.tab__link {
    display: block;
    margin: 5px 75px;
    border: none;
    background-color: inherit;
    color: #000000;
    font-size: 2.4rem;
    text-decoration: none;
    cursor: pointer;
}

.tab__link--active {
    color: #FF0000;
}

/* 商品一覧 */
.item-list {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.item-list__item {
    width: 100%;
    position: relative;
}

.item-list__img {
    width: 100%;
    border-radius: 4px;
    object-fit: contain;
    aspect-ratio: 1;
}

.item-list__name {
    font-size: 2.5rem;
    margin-top: 5px;
}

.item-list__sold-mask {
    top: 0; 
    left: 0;
    width: 100%;
    position: absolute;
    z-index:100;
    aspect-ratio: 1;
}

.item-list__sold-text {
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    border-radius:4px;
}

.item-list__sold-text span {
    color: #FFFFFF;
    font-size: 3.4rem;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .tab {
        justify-content: center;
    }
    .tab__link {
        margin: 5px 50px;
    }
    .item-list  {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px
    }
}