.user {
    margin: 75px auto;
    display: flex;
    align-items: center;
}

.user__img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user__inner {
    margin: 0 300px 0 75px;
}

.user__name {
    margin: 0px 0 20px;
    font-size: 3.6rem;
}

.user__evaluation {
    margin: 0;
    color: #FFF048;
    font-size: 4rem;
    letter-spacing: 5px;
}

.user__edit-btn {
    display: inline-block;
    padding: 0 40px;
    height: 60px;
    line-height: 60px;
    background-color: inherit;
    border: solid 2px #FF5555;
    border-radius: 10px;
    color: #FF5555;
    font-size: 2.6rem;
}

.tab {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 5%;
    border-bottom: solid 2px #5F5F5F;
}

.tab__link {
    display: block;
    margin: 5px 75px;
    border: none;
    background-color: inherit;
    color: #000000;
    font-size: 2.4rem;
    text-decoration: none;
    cursor: pointer;
}

.tab__link--active {
    color: #FF0000;
}

.tab__link > span {
    display: inline-block;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FF0000;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.item-list {
    margin: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.item-list__item {
    width: 100%;
    position: relative;
}

.item-list__img {
    width: 100%;
    border-radius: 4px;
    object-fit: contain;
    aspect-ratio: 1;
}

.item-list__chat-count {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px 0 0 5px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #FF0000;
    border: none;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.item-list__name {
    font-size: 2.5rem;
    margin-top: 5px;
}

.item-list__sold-mask {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    aspect-ratio: 1;
}

.item-list__sold-text {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 4px;
}

.item-list__sold-text span {
    color: #FFFFFF;
    font-size: 3.4rem;
    font-weight: bold;
}

@media screen and (max-width: 960px) {
    .user__img  {
        width: 100px;
        height: 100px;
    }
    .user__name {
        margin: 0 150px 0 50px;
    }
    .user_edit-btn {
        padding: 0 25px;
        height: 45px;
        line-height: 45px;
        background-color: inherit;
    }
    .tab  {
        justify-content: center;
    }
    .item-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px
    }
}